$backgroundDark: rgb(56, 29, 63);
$backgroundLight: #fff;

$textLight: #fff;
$textDark: #222;
$textCSSProperty: rgb(128, 217, 251);
$textCSSSelector: rgb(251, 177, 128);
$textCSSValue: rgb(157, 251, 128);

$textInput: rgb(0, 0, 0);
